@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-secondary-100 {
    background-color: #E2E8F0;
  }
}

@layer base {
  :root {
    --color-secondary-50: #f8fafc;
    --color-secondary-900: #0f172a;
  }

  body {
    background-color: var(--color-secondary-50);
    color: var(--color-secondary-900);
  }

  html {
    @apply antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-semibold;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-colors;
  }

  .btn-primary {
    @apply bg-primary-500 text-white hover:bg-primary-600;
  }

  .btn-secondary {
    @apply bg-secondary-100 text-secondary-900 hover:bg-secondary-200;
  }
}
